@using Microsoft.AspNetCore.Hosting
@model Sso.ActiveDirectory.Models.ErrorViewModel
@inject IHostingEnvironment host

@{
    var error = Model?.Error?.Error;
    var errorDescription = host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId;
}

<p>
    Sorry, there was an error
</p>

@if (error != null)
{
    <p>
        <strong>
            <em>
                : @error
            </em>
        </strong>

        @if (errorDescription != null)
        {
        <div>@errorDescription</div>
        }
    </p>
}

@if (request_id != null)
{
    <p class="request-id">Request Id: @request_id</p>
}
